@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
	--color-primary: #03001c;
	--color-secondary: #131347;
	--color-text: white;
	--color-footer: #232323;
	--color-footer-text: #787777;
}

body {
	background-color: var(--color-secondary);
	color: var(--color-text);
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
	padding: 0 10%;
}

header {
	width: 100%;
	height: 10vh;
	background-color: var(--color-primary);
}

nav {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.header-logo,
.header-menu {
	height: 10vh;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
}

.header-logo {
	width: 50%;
}

.header-menu {
	width: 50%;
	justify-content: flex-end;
	gap: 10vh;
	padding: 0;
	margin: 0;
	font-size: 1.125rem;
}

.header-menu-item {
	list-style: none;
}

.header-menu-item > a {
	color: var(--color-text);
	text-decoration: none;
}

.section-1 {
	background-color: var(--color-primary);
	color: var(--color-text);
	height: 40vh;
	width: 100%;
}

.hero {
	display: flex;
	flex-direction: row;
}

.hero-text,
.hero-image {
	width: 50%;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.hero-text {
	flex-direction: column;
}

.hero-text > h1 {
	margin: 0;
	font-size: 3rem;
}

.hero-text > button {
	width: 20%;
	height: 5vh;
	font-size: 1rem;
	background-color: var(--color-secondary);
	color: var(--color-text);
	border: none;
	border-radius: 15px;
}

.hero-image > img {
	height: 35vh;
	width: 100%;
	border-radius: 20px;
}

.section-2 {
	font-family: 'Josefin Sans', sans-serif;
}

.information {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5vh 0;
}

.information-header {
	font-size: 2rem;
	margin-top: 0;
}

.information-cards {
	width: 100%;
	display: flex;
	flex-direction: row;
	column-gap: 7vh;
	row-gap: 3vh;
}

.card {
	display: flex;
	flex-direction: column;
}

.card > img {
	border-radius: 15px;
	height: 25vh;
}

.card > p {
	margin: 0;
	text-align: center;
	font-size: 1rem;
}

.section-3 {
	background-color: var(--color-primary);
	padding: 5vh 0;
	text-align: center;
}

.quote-text {
	font-size: 2rem;
	margin: 0;
}

.quote-author {
	font-size: 1.5rem;
	margin: 2.5vh 0 0 0;
}

.section-4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta {
	background-color: var(--color-primary);
	padding: 5vh;
	margin: 5vh 0;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vh;
}

.cta-text-box {
	width: 80%;
}

.cta-text-box > h1 {
	font-size: 1.5rem;
}

.cta-text-box > p {
	font-size: 1rem;
}

.cta-button-box {
	width: 20%;
}

.cta-button-box > button {
	width: 100%;
	height: 6vh;
	font-size: 1rem;
	border-radius: 20px;
	border: none;
	background-color: var(--color-secondary);
	color: var(--color-text);
}

footer {
	background-color: var(--color-footer);
	text-align: center;
	padding: 2vh 0;
	color: var(--color-footer-text);
	font-family: 'Josefin Sans', sans-serif;
}
